main {
    margin: 20px;
}

.filtros {
    text-align: center;
}

.ldBar {
    color: rgb(97, 18, 128);
    font-family: 'varela round';
    font-size: 2.5em;
    font-weight: 900;
}

.item {
    font-family: 'Roboto Mono', sans-serif;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 20px;
    border: 05px solid #71067a20;
    padding: 05px;
    display: grid;
    float: right;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    color: rgb(87, 13, 129);
    background-color: rgb(248, 229, 248);
    border-radius: 05px;
}

.item :hover {
    color: rgb(140, 0, 255);
    cursor: pointer;
}

#name {
    font-size: 16px;
    font-weight: 08px;
    margin-top: 02px;
}

.imga {
    width: 100px;
    height: 80px;
}

a {
    font-family: 'Roboto Mono', sans-serif;
}