.item {
    font-family: 'Roboto Mono', sans-serif;
    margin: 10px auto;
    border: 05px solid #71067a20;
    padding: 05px;
    display: grid;
    float: right;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    color: rgb(87, 13, 129);
    background-color: rgb(248, 229, 248);
    border-radius: 05px;
}

.item :hover {
    color: yellow;
    cursor: pointer;
}

.name {
    font-size: 16px;
    font-weight: 02px;
    margin-top: 02px;
}

#img {
    width: 100px;
    height: 80px;
}