@media screen and (max-width: 480px) { 
    .nav, .img, .imgLupa, .searchNav, .lista, .card, .item {
        width: auto;
    
    }
    nav {
        position: static;
        text-align: center;
    }
    .inputsearch{
        align-items: center;
    }
    .pesquisarPiracicabanos{
        box-align: center;
    }
	.img{
        width:25%;
    }
	.h1 {
		font-size: 100%;
		text-align: center;
	}

}
