@import url(https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap);
h4 {
    margin: 20px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    color: rosybrown;
}

a:hover {
    text-align: center;
    color: blueviolet;
}

.card {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border: 10px solid #71067a20;
    height: 400px;
    width: 500px;
    padding: 05px;
    display: grid;
    color: rgb(87, 13, 129);
    background-color: rgb(248, 229, 248);
    border-radius: 05px;
}

#imagemPerfil {
    width: 150px;
    height: 200;
    margin-top: 20px;
    flex-direction: row;
    float: left;
}

.nome {
    font-size: 20px;
    text-align: left;
    /* vertical-align: middle; */
    /* float: right; */
    color: purple;
}

.imga {
    float: left;
    width: 150px;
    height: auto;
    border: 02px purple;
    ;
}

.Repos {
    list-style-image: url("../images/giticonrepos.svg");
}

.Seguidores {
    list-style-image: url("../images/seguidores.svg");
}

.Type {
    list-style-image: url("../images/company2.png");
}

a {
    margin-top: 05px;
    font-family: 'Roboto Mono', sans-serif;
}