@import url(https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap);


a:hover {
    text-align: center;
    color: blueviolet;
}

#userpopup {
    margin-top: 15%;
    margin-left: 30%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    
}


.listaPerfil {
    margin: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 10px solid #71067a20;
    height: auto;
    width: 500px;
    padding: 05px;
    display: grid;
    color: rgb(87, 13, 129);
    background-color: rgb(248, 229, 248);
    border-radius: 05px;
    position: relative;
}

.imga2{
    margin-top: 05px;
    text-align: center;
    width: 180px;
    height: auto;
    position: relative;
}

#name {
    color: black;
    float: inherit;
    font-size: 19px;
    margin: 05px;
    text-transform: uppercase;
}

.Repos {
    list-style-image: url("../images/giticonrepos.svg");
}

.Seguidores {
    list-style-image: url("../images/seguidores.svg");
}

.Company {
    list-style-image: url("../images/company2.png");
}
.Location {
    list-style-image: url("../images/location.svg");
}


a {
    margin-top: 05px;
    font-family: 'Roboto Mono', sans-serif;
    margin-bottom: 10px;
}

