@import url(https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap);


a:hover {
    text-align: center;
    color: blueviolet;
}

#userpopup {
    margin-top: 20%;
    margin-left: 30%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    
}


.listaPerfil {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border: 10px solid #71067a20;
    height: 400px;
    width: 500px;
    padding: 05px;
    display: grid;
    color: rgb(87, 13, 129);
    background-color: rgb(248, 229, 248);
    border-radius: 05px;
}

.imga2{
    width: 200px;
    height: auto;
}

.name {
    font-size: 19px;
    font-weight: 08px;
    margin-top: 02px;
}

.Repos {
    list-style-image: url("../images/giticonrepos.svg");
}

.Seguidores {
    list-style-image: url("../images/seguidores.svg");
}

.Company {
    list-style-image: url("../images/company2.png");
}
.Location {
    list-style-image: url("../images/location.svg");
}


a {
    margin-top: 05px;
    font-family: 'Roboto Mono', sans-serif;
}



footer {
    text-align: center;
    color: rgb(243, 210, 243);
    text-align: center;
    background-color: rgb(7, 1, 19);
    width: 100%;
    height: auto;
    padding: 05px;
    position: fixed;
    bottom: 0;
    left: 0;
}