body {
    margin: 0;
    padding: 0;
    background: rgb(7, 1, 19);
    background: linear-gradient(90deg, rgba(7, 1, 19, 1) 0%, rgba(60, 2, 79, 1) 35%, rgba(9, 8, 47, 1) 100%);
}

label {
    display: block;
}

input {
    width: 100%;
}

input,
button {
    padding: 10px;
}

.titulo {
    color: rgb(243, 210, 243);
    font-size: 50px;
    margin-left: 20px;
    margin-top: 18px;
    float: left;
}

.img {
    width: 100px;
    height: auto;
    float: left;
}

.clearfix {
    clear: both;
}

.nav {
    background-color: rgb(7, 1, 19);
    margin-bottom: 20px;
    padding-top: 20px;
}

.navbar {
    margin-left: 40px;
    color: cornsilk;
    float: left;
}

.searchNav {
    margin-right: 20px;
    background: rgb(202, 133, 223);
    color: #32004fff;
    float: right;
    border-radius: 40px;
}

.searchform {
    display: block;
    width: 500px;
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    box-shadow: #32004fff, 10px;
}

.searchBar {
    display: none;
    position: absolute;
    width: 500px;
    background: #e2cae7;
    border-radius: 2px;
}

.pesquisarPiracicabanos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}